<div class="jumbotron">
    <h1>Booking Details:</h1>
    <br><br>
    <h6>Passenger Details:</h6>
    <form class="form-inline" #passengerForm=ngForm (submit)=addPassenger(passengerForm)>
        <div class="form-group">
            <div>
                <input type="number" class="form-control" name="uin1" ngModel #uin1=ngModel required minlength="12"
                    maxlength="12" size="40" placeholder="ID Number">

                <div *ngIf="uin1.invalid" class="alert alert-danger">

                    <div *ngIf="uin1.errors.required">
                        ID Number is required.
                    </div>
                    <div *ngIf="uin1.errors.minlength">
                        ID Number must be 12 characters long.
                    </div>
                    <div *ngIf="uin1.errors.maxlength">
                        ID Number can not be grater than 12 characters.
                    </div>

                </div>

            </div>


            &nbsp; &nbsp; &nbsp; &nbsp;
            <div>
                <input type="text" class="form-control" name="pname1" minlength="4" ngModel #pname1=ngModel required
                    placeholder="Passenger Name">


                <div *ngIf="pname1.invalid" class="alert alert-danger">

                    <div *ngIf="pname1.errors.required">
                        Name is required.
                    </div>
                    <div *ngIf="pname1.errors.minlength">
                        Name must be at least 4 characters long.
                    </div>

                </div>

            </div>
            &nbsp; &nbsp; &nbsp; &nbsp;

            <div>
                <input type="number" class="form-control" name="passenger_age1" ngModel #passengerAge1=ngModel
                    placeholder="Age" required>

                <div *ngIf="passengerAge1.invalid" class="alert alert-danger">

                    <div *ngIf="passengerAge1.errors.required">
                        Age is required.
                    </div>

                </div>

            </div>


            &nbsp; &nbsp; &nbsp; &nbsp;

            <div>
                <input type="text" class="form-control" name="gender1" ngModel #gender1=ngModel placeholder="Gender"
                    required>

                <div *ngIf="gender1.invalid" class="alert alert-danger">

                    <div *ngIf="gender1.errors.required">
                        Gender is required.
                    </div>

                </div>

            </div>
            &nbsp; &nbsp; &nbsp; &nbsp;

            <div>
                <input type="number" class="form-control" name="luggage1" maxlength="15" ngModel #luggage1=ngModel
                    placeholder="Luggage" required>

                <div *ngIf="luggage1.invalid" class="alert alert-danger">

                    <div *ngIf="luggage1.errors.required">
                        Luggage is required.
                    </div>
                    <div *ngIf="luggage1.errors.maxlength">
                        Luggage cannot exceed than 15kg.
                    </div>

                </div>

            </div>

        </div>
        <br>
        <div class="form-group">
            <div>
                <input type="number" class="form-control" name="uin2" ngModel #uin2=ngModel min="12" maxlength="12"
                    size="40" placeholder="ID Number">

                <div *ngIf="uin2.invalid" class="alert alert-danger">

                    <div *ngIf="uin2.errors.minlength">
                        ID Number must be 12 characters long.
                    </div>
                    <div *ngIf="uin2.errors.maxlength">
                        ID Number can not be grater than 12 characters.
                    </div>

                </div>

            </div>


            &nbsp; &nbsp; &nbsp; &nbsp;
            <div>
                <input type="text" class="form-control" name="pname2" minlength="4" ngModel #pname2=ngModel
                    placeholder="Passenger Name">


                <div *ngIf="pname2.invalid" class="alert alert-danger">


                    <div *ngIf="pname2.errors.minlength">
                        Name must be at least 4 characters long.
                    </div>

                </div>

            </div>
            &nbsp; &nbsp; &nbsp; &nbsp;

            <div>
                <input type="number" class="form-control" name="passenger_age2" ngModel #passengerAge2=ngModel
                    placeholder="Age">
            </div>


            &nbsp; &nbsp; &nbsp; &nbsp;

            <div>
                <input type="text" class="form-control" name="gender2" ngModel #gender2=ngModel placeholder="Gender">

            </div>
            &nbsp; &nbsp; &nbsp; &nbsp;

            <div>
                <input type="number" class="form-control" name="luggage2" maxlength="15" ngModel #luggage2=ngModel
                    placeholder="Luggage">
            </div>
        </div>

        <br>
        <div class="form-group">
            <div>
                <input type="number" class="form-control" name="uin3" ngModel #uin3=ngModel min="12" maxlength="12"
                    size="40" placeholder="ID Number">

                <div *ngIf="uin3.invalid" class="alert alert-danger">

                    <div *ngIf="uin3.errors.minlength">
                        ID Number must be 12 characters long.
                    </div>
                    <div *ngIf="uin3.errors.maxlength">
                        ID Number can not be grater than 12 characters.
                    </div>

                </div>

            </div>


            &nbsp; &nbsp; &nbsp; &nbsp;
            <div>
                <input type="text" class="form-control" name="pname3" minlength="4" ngModel #pname3=ngModel
                    placeholder="Passenger Name">


                <div *ngIf="pname3.invalid" class="alert alert-danger">


                    <div *ngIf="pname3.errors.minlength">
                        Name must be at least 4 characters long.
                    </div>

                </div>

            </div>
            &nbsp; &nbsp; &nbsp; &nbsp;

            <div>
                <input type="number" class="form-control" name="passenger_age3" ngModel #passengerAge3=ngModel
                    placeholder="Age">
            </div>


            &nbsp; &nbsp; &nbsp; &nbsp;

            <div>
                <input type="text" class="form-control" name="gender3" ngModel #gender3=ngModel placeholder="Gender">

            </div>
            &nbsp; &nbsp; &nbsp; &nbsp;

            <div>
                <input type="number" class="form-control" name="luggage3" maxlength="15" ngModel #luggage3=ngModel
                    placeholder="Luggage">
            </div>
        </div>

        <br>
        <div class="form-group">
            <div>
                <input type="number" class="form-control" name="uin4" ngModel #uin4=ngModel min="12" maxlength="12"
                    size="40" placeholder="ID Number">

                <div *ngIf="uin4.invalid" class="alert alert-danger">

                    <div *ngIf="uin4.errors.minlength">
                        ID Number must be 12 characters long.
                    </div>
                    <div *ngIf="uin4.errors.maxlength">
                        ID Number can not be grater than 12 characters.
                    </div>

                </div>

            </div>


            &nbsp; &nbsp; &nbsp; &nbsp;
            <div>
                <input type="text" class="form-control" name="pname4" minlength="4" ngModel #pname4=ngModel
                    placeholder="Passenger Name">


                <div *ngIf="pname4.invalid" class="alert alert-danger">


                    <div *ngIf="pname4.errors.minlength">
                        Name must be at least 4 characters long.
                    </div>

                </div>

            </div>
            &nbsp; &nbsp; &nbsp; &nbsp;

            <div>
                <input type="number" class="form-control" name="passenger_age4" ngModel #passengerAge4=ngModel
                    placeholder="Age">
            </div>


            &nbsp; &nbsp; &nbsp; &nbsp;

            <div>
                <input type="text" class="form-control" name="gender4" ngModel #gender4=ngModel placeholder="Gender">

            </div>
            &nbsp; &nbsp; &nbsp; &nbsp;

            <div>
                <input type="number" class="form-control" name="luggage4" max=15 ngModel #luggage4=ngModel
                    placeholder="Luggage">
            </div>
        </div>

        <br>
        <div class="form-group">
            <div class="jumbotron">
                <input type="text" size="60" class="form-control" name="billingAddress" ngModel #billingAddress=ngModel
                    placeholder="Address" required>

                <div *ngIf="billingAddress.invalid" class="alert alert-danger">

                    <div *ngIf="billingAddress.errors.required">
                        Billing Address is required.
                    </div>

                </div>

                &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;

                <input type="number" size="40" class="form-control" name="contactNumber" ngModel #contactNumber=ngModel
                    placeholder="Contact Number" required>

                <div *ngIf="contactNumber.invalid" class="alert alert-danger">

                    <div *ngIf="contactNumber.errors.required">
                        Contact Number is required.
                    </div>
                    <div *ngIf="contactNumber.errors.minlength">
                        Contact Number must be 10 digit long.
                    </div>
                    <div *ngIf="contactNumber.errors.maxlength">
                        Contact Number can not be grater than 10 digit.
                    </div>

                </div>

            </div>

            <div class="form-check">
                <label>
                    <input class="form-check-input" name="termsAndConditions" type="checkbox" ngModel
                        #termsAndConditions=ngModel required>
                    I Agree to the terms and condition
                </label>
            </div>
            &nbsp; &nbsp; &nbsp; &nbsp;
            <div>
                <button class="btn btn-success" [disabled]="!passengerForm.form.valid" type="submit">Confirm
                    Booking</button>
            </div>
        </div>
    </form>

    <div *ngIf="ticketInfo!=null">
        <div class="jumbotron">
            <h6>Your Booking has been Confirmed:</h6>
            <br>
            Booking Id : {{ticketInfo.bookingId}}
            <br>
            <br>
            <button class="btn btn-success" type="button" routerLink="../generate-ticket">Generate E-Ticket</button>
        </div>

    </div>






    <!-- <div *ngIf="ticketInfo!=null">


        <div class="jumbotron">
            <div>
                <h2>Your Booking has been Confirmed: </h2>
                <br>
                <br>
                <div>
                    Booking Id : {{ticketInfo.bookingId}}
                </div>
                <br>
                <div>
                    <h6>Flight Details: </h6>
                    Flight Number = {{ticketInfo.flightNumber}} <br>
                    Source = {{ticketInfo.source}} <br>
                    Destination = {{ticketInfo.destination}} <br>
                    Arrival Time = {{ticketInfo.arrivalTime}} <br>
                    DepartureTime = {{ticketInfo.departureTime}} <br>
                </div>

                <div>
                    <br>
                    <h6>Passenger Details: </h6>
                    <br>
                    <div class="row card-group">
                        <div *ngFor="let passenger of passengers; let i=index" [attr.data-index]="i" class="col-4 card">
                            <h6>Passenger {{i+1}}:</h6>
                            PNR = {{passenger.pnrNumber}} <br>
                            Passenger Name = {{passenger.passengerName}} <br>
                            Passenger Age = {{passenger.passengerAge}} <br>
                            Gender = {{passenger.gender}} <br>
                            Passenger ID = {{passenger.passengerUIN}} <br>
                            Luggage = {{passenger.luggage}}
                            <br>
                        </div>
                    </div>
                </div>

                <br>
                <div>
                    <h6>Contact Number :</h6> {{ticketInfo.contactNumber}}
                </div>
                <br>
                <div>
                    <h6>Billing Address: </h6> {{ticketInfo.billingAddress}}
                </div>
                <br>

                <button class="btn btn-success" name="downloadTicket">Download E-Ticket</button>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <button class="btn btn-success" name="home" routerLink="../">Home</button>

            </div>
        </div>

    </div> -->

</div>