<p>booking works!</p>

<h3>Book Domestic and International Flights:</h3>
<div style="margin-left: 50px; margin-top: 50ox; margin-right: 50px; margin-bottom: 50px; background-color: gray;
         border: black;">
<form #data="ngForm" (ngSubmit)=createBooking(data)>
    <div style="padding-top: 20px; padding-left: 20px; padding-right: 20px; border: black;">
        <input type="text" name="source" placeholder="Source Airport"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        <input type="text" name="destination" placeholder="Destination Airport">  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        <input type="date" name="bookingDate" placeholder="Booking Date">  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        <br>
        <button type="submit" name="search" 
            style="margin-top:10px;" >Search</button>
    </div>
    
</form>


</div>
